#design, #programming, #final_calculations, .fieldsets {
    /*display: none;*/
    width: 920px;
    border-radius: 15px;
    border-color: #5abf28;
    padding-bottom: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
}

.fieldsets a.del-custom-param {
    text-decoration: none;
    /* float: left; */
    position: absolute;
    top: calc(50% - 14px);
    right: 20px;
    display: block;
    height: 20px;
    width: 20px;
    border: none;
    font-weight: bold;
    color: red;
    border: 1px solid #a5a5a5;
    text-align: center;
    border-radius: 2px;
    background-color: #dedede;
}

.error {
    box-shadow: 0 0 10px red;
}

.bold_p {
    color: red;
}

div.container {
    background: url(../images/commerce_sugestion_1_page.jpg);
}


.brif_form .contact_info .fieldsets .field {
    float: none;
}

.brif_form .contact_info .fieldsets .section {
    float: left;
    padding-left: 30px;
    position: relative;
}

.brif_form .contact_info .fieldsets .section input[type="checkbox"] {
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    top: calc(50% - 5px);
}

.brif_form .contact_info .fieldsets .field {
    width: 260px;
    position: relative;
    display: inline-block;
}

.brif_form .contact_info .fieldsets .input {
    width: 225px;
}

.brif_form .contact_info .fieldsets label.hours,
.brif_form .contact_info .fieldsets label.field_label{
    position: relative;
    top: -25px;
    right: -205px;
}

.brif_form .contact_info .fieldsets legend {
    margin-left: 50px;
    letter-spacing: 2px;
    font: 18px Lucida Sans Unicode, Lucida Sans, Verdana, Arial, sans-serif;
}

legend.hour-price {
    position: absolute;
    right: 30px;
    top: -35px;
}

legend.hour-price label {
    position: relative;
    top: 30px;
    left: 80px;
    z-index: 10;
    letter-spacing: 1px;
}

.brif_form .contact_info .fieldsets .add-more {
    clear: both;
    margin: 20px;
}

.brif_form .contact_info .fieldsets .added .input[id$="name"] {
    width: 180px;
}

.brif_form .contact_info .fieldsets .added .input[id$="value"] {
    width: 120px;
}

.brif_form .contact_info .fieldsets .added .field {
    width: 410px;
    position: relative;
}

.brif_form .contact_info .fieldsets .added label.hours {
    right: -314px;
}

.brif_form .contact_info .fieldsets label.field_label.per_hour {
    right: -190px;
}

.brif_form .contact_info .fieldsets .added.section input[type="checkbox"] {
    top: calc(50% - 13px);
}

a.del-custom-param:before {
    content: '';
    border-bottom: 5px solid #424242;
    position: absolute;
    width: 14px;
    height: 8px;
    left: 3px;
}

fieldset#final_calculations .field {
    margin-right: 35px;
}

fieldset#final_calculations .field:nth-child(3n+1) {
    margin-right: 0px;
}

.button {
    width: 250px;
    margin: 20px;
    height: 40px;
    border: 2px solid #349419;
    border-radius: 20px;
    box-shadow: inset 0 0 20px 0px rgba(0,0,0,0.5), 8px 6px 7px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 20px 0px rgba(0,0,0,0.5), 8px 6px 7px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 20px 0px rgba(0,0,0,0.5), 8px 6px 7px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    outline: none;
}

fieldset.inside_fieldset {
    margin: 0 20px 0 0;
    border-radius: 15px;
    padding-bottom: 25px;
}

.brif_form .contact_info fieldset.inside_fieldset legend {
    margin-left: 5%;
    letter-spacing: 1px;
    font: 14px Lucida Sans Unicode, Lucida Sans, Verdana, Arial, sans-serif;
}

.field.buttons-block {
    clear: both;
    width: 94% !important;
}

a.download_sample.button {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border: 2px solid #349419;
    color: black;
    height: 36px;
    width: 246px;
}

.brif_form .contact_info .fieldsets .field.work_stages {
    width: 50%;
    display: block;
}

.brif_form .contact_info .fieldsets .field.work_stages select {
    width: 100%;
}











.dropdown dd,
.dropdown dt {
    margin: 0px;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
}

.dropdown dd {
    position: relative;
}

.dropdown dt a {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 40px;
    color: #000;
}

.dropdown dd ul {
    background-color: #e1e1e1;
    border: 0;
    color: #000;
    display: none;
    left: 0px;
    padding: 10px 15px 2px 15px;
    position: absolute;
    width: 100%;
    list-style: none;
    height: 180px;
    overflow: auto;
    z-index: 1;
    box-sizing: border-box;
}

.dropdown dd ul li {
    margin: 5px auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #fff;
}

.executors {
    display: block !important;
    clear: both;
}

