#design, #programming, #final_calculations {
    display: none;
}

a.del-custom-param {
    text-decoration: none;
}

.error {
    box-shadow: 0 0 10px red;
}

.bold_p {
    color: red;
}

div.container {
    background: url(../images/commerce_sugestion_1_page.jpg);
}