<div class="container" style="background: url(/images/commerce_sugestion_1_page.jpg);">

    <p class="bold_p" style="color: red;margin-top: 100mm;">Hello World!!!</p>
    <div class="qwerty" style="margin: 100mm">{{ companyName }}</div>

</div>

